.logo{
    display: flex;
    justify-content: left;
    
}

.links{
    display: flex;
    align-items: center;

}

header {
    background-color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(image\ 9.png);
    color: #FFF;
    
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
}

.logo2 {
    width: 150px;
    margin-bottom: 20px;
}

h1 {
    font-size: 28px;
    color: #FFF;
    margin-bottom: 30px;
}

form {
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semitransparente */
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #FFF;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #F9A825;
    color: #FFF;
}